<!-- 
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li> -->


  <li>
    <a href="https://www.researchgate.net/profile/Meysam-Asgari-2" itemprop="sameAs">
      <i class="fab fa-researchgate" aria-hidden="true"></i> Researchgate
    </a>
  </li>

  <!-- <li>
    <a href="https://scholar.google.com/citations?hl=en&user=lorQE_AAAAAJ" itemprop="sameAs">
      <i class="fa-brands fa-google-scholar" aria-hidden="true"></i> Google Scholar
    </a>
  </li>

  <li>
    <a href="https://medium.com/@meisamasgri" itemprop="sameAs">
      <i class="fa-brands fa-medium" aria-hidden="true"></i> Medium
    </a>
  </li> -->
